In [3]:
seeds_per_cube = pd.DataFrame({"seeds": [4, 3, 5, 7, 2, 9, 11, 7]})
seeds_per_cube

   seeds
0      4
1      3
2      5
3      7
4      2
5      9
6     11
7      7

In [2]:
import pandas as pd

In [7]:
seeds_per_cube.seeds.std(ddof=1)

np.float64(3.070597894314954)